.btn-database-container {
  display: flex;
  align-items: top;
  justify-content: end;
}

.btn-database-fill-mock-data {
  color: black !important;
  background-color: yellow !important;
}

.btn-database-truncate {
  color: black !important;
  background-color: #ca0000 !important;
}