<div class="btn-database-container">
<button mat-raised-button extended class="btn btn-database-fill-mock-data" (click)="onClickFillDbByMockData()">
  Fill database by mock data
  <mat-icon>dataset</mat-icon>
</button>
<button mat-raised-button extended class="btn btn-database-truncate" (click)="onClickTruncateDb()">
  Clear database
  <mat-icon>delete</mat-icon>
</button>
</div>

<mat-tab-group >
  <mat-tab label="Цеха">
    <app-department-tab-item />
  </mat-tab>
  <mat-tab label="Штатные единицы">
    <app-staff-unit-tab-item />
  </mat-tab>
  <mat-tab label="Работники"> 
    <app-employee-tab-item />
  </mat-tab>
  <mat-tab label="Пользователи"> Users </mat-tab>
  <mat-tab label="Сервисы"> Services </mat-tab>
</mat-tab-group>