<div class="mat-typography app-frame mat-app-background">
  @if(isShowHeader()) {
  <mat-toolbar class="toolbar">
    <span class="toolbar-spacer"></span>
    @if(authService.getUserName() !== undefined) {
    <span>
      Logged as
      <span class="auth-name">{{authService.getUserName()}}</span>
    </span>

    <button mat-raised-button extended (click)="authService.signOut()">
      <i class="material-icons">logout</i>
      signOut
    </button>
    }
  </mat-toolbar>
  }

  <router-outlet />

</div>