@if(pageState.employees.loadingState().isLoading) {
<h1 class="loading-state-message-isloading">
  <mat-spinner style="margin: 0 auto;" />
  Загрузка данных
</h1>
}

@if(pageState.employees.loadingState().isLoadingError) {
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title style="color: red">
        <i class="material-icons">warning</i>
        Ошибка загрузки данных
      </mat-panel-title>
      <mat-panel-description> Подробнее об ошибке </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <pre [innerHTML]="pageState.employees.loadingState().errorData | json"></pre>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
}

@if(pageState.employees.loadingState().isCompleted && !pageState.employees.data().length) {
<h1 align="center"> Данные отсутствуют :( </h1>
}
@if(pageState.employees.loadingState().isCompleted && pageState.employees.data().length) {
<table mat-table [dataSource]="pageState.employees.data()" class="mat-elevation-z8">
  <ng-container matColumnDef="employeeID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let employee"> {{employee.employeeID}} </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> ФИО </th>
    <td mat-cell *matCellDef="let employee"> {{employee.fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="staffUnitID">
    <th mat-header-cell *matHeaderCellDef> Штатная единица </th>
    <td mat-cell *matCellDef="let employee"> {{getStaffUnitByID(employee.staffUnitID)}} / ({{getDepartmentNameByStaffUnit(employee.staffUnitID)}})</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Действия </th>
    <td mat-cell *matCellDef="let employee">
      <button mat-raised-button color="primary" class="button btn-small" (click)="onEditEmployee(employee)">
        <i class="material-icons">edit</i>
      </button>
      <button mat-raised-button color="primary" class="button btn-small btn-delete"
        (click)="onDeleteEmployee(employee)">
        <i class="material-icons">delete</i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}