@if(pageState.departments.loadingState().isLoading) {
<h1 class="loading-state-message-isloading">
  <mat-spinner style="margin: 0 auto;" />
  Загрузка данных
</h1>
}

@if(pageState.departments.loadingState().isLoadingError) {
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title style="color: red">
        <i class="material-icons">warning</i>
        Ошибка загрузки данных
      </mat-panel-title>
      <mat-panel-description> Подробнее об ошибке </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <pre [innerHTML]="pageState.departments.loadingState().errorData | json"></pre>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
}

@if(pageState.departments.loadingState().isCompleted && !pageState.departments.data().length) {
<h1 align="center"> Данные отсутствуют :( </h1>
}
@if(pageState.departments.loadingState().isCompleted && pageState.departments.data().length) {
<table mat-table [dataSource]="pageState.departments.data()" class="mat-elevation-z8">
  <ng-container matColumnDef="departmentID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let department"> {{department.departmentID}} </td>
  </ng-container>

  <ng-container matColumnDef="departmentName">
    <th mat-header-cell *matHeaderCellDef> Название </th>
    <td mat-cell *matCellDef="let department"> {{department.departmentName}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Действия </th>
    <td mat-cell *matCellDef="let department">
      <button mat-raised-button color="primary" class="button button-small" aria-label="Edit department"
        (click)="onEditDepartment(department)">
        <i class="material-icons">edit</i>
      </button>
      <button mat-raised-button color="primary" class="button button-small button-delete" aria-label="Delete department"
        (click)="onDeleteDepartment(department)">
        <i class="material-icons">delete</i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}