.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item-card {
  margin: 5px;
}

.item-card-divider {
  border: 1px dotted #333;
}

/* mobile */
@media (min-width: 0) and (max-width: 425px) {
  .item-card {
    width: max-content;
  }
}

/* other devices */
@media (min-width: 425px) {
  .item-card {
    width: 250px;
  }
}


.text-muted-item-card {
  opacity: .5;
  font-size: x-small;
  font-weight: bolder;
  font-style: italic;
}

.access-allowed {
  background-color: rgb(21, 43, 21);
  color: #0f0;
}

.access-denied {
  background-color: rgb(34, 9, 9);
  color: #f00;
}

.text-mark-card {
  color: #ff2;
}

