<mat-tab-group dynamicHeight>
  <mat-tab label="Разрешенные сервисы">
    Сервисы к которым у данного пользователя есть доступ и его роль в них "user"
  </mat-tab>
  <mat-tab label="Запрошенные сервисы">
    Сервисы к которым данный пользователь запросил доступ и они ожидают подтверждения пользователей с ролью "owner",
    "admin"
  </mat-tab>
  <mat-tab label="Мои сервисы">
    Сервисы в которых данный пользователь владелец или админ и ожидающие его разрешения для других пользователей
  </mat-tab>
</mat-tab-group>

<div class="container-card">
  @for(iter of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]; track $index) {
  <mat-card class="item-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar><i class="material-icons">design_services</i></div>
      <mat-card-subtitle>Управление персоналом ЦТАИ</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <hr />
      <p>
        some desc.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <hr />
      <p class="text-muted-item-card">
        Доступ: закрыт,
        Роль: пользователь
      </p>
      <hr />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button extended>Запросить роль</button>
      <button mat-raised-button extended>Открыть</button>
    </mat-card-actions>
  </mat-card>
  }
</div>