.center-of-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog {
  background-color: #333;
  box-shadow: 0px 3px 10px black;
}

.dialog-btn {
  background-color: bisque;
}

.dialog-input {
  width: 200px;
  display: block;
}

.dialog-content {
  padding: 15px 10px 0px 10px;
}