<h3 mat-dialog-title>
  @if(department().dialogType == 'create') { Добавить цех }
  @else if(department().dialogType == 'update') { Обновить цех }
</h3>
<mat-divider />

<mat-dialog-content>
  <mat-form-field class="field-input">
    <mat-label>Название цеха</mat-label>
    <input matInput [formControl]="formControlDepartmentName" required />

    @if (formControlDepartmentName.value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="formControlDepartmentName.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    }

    @if(!formControlDepartmentName.valid){ <mat-error>{{fieldsErrorMessages.departmentName()}}</mat-error> }
  </mat-form-field>
</mat-dialog-content>
<mat-divider />

<mat-dialog-actions>
  <button mat-button (click)="onClickOk()">Ok</button>
  <button mat-button (click)="onClickCancel()"> Cancel </button>
</mat-dialog-actions>