.field-input {
  width: 300px;
}

mat-dialog-content {
  text-align: center;
}


.select-option {
  display: flex;
}

.staffunit-name {
  padding: .5em;
  background-color: #337ab7;
}

.department-name {
  padding: .5em;
  background-color: #5cb85c;
}